*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 720px;
}
body{
    font-family: "Montserrat Alternates";
    background-color: #D0D0D0;
    margin: 0;
    padding: 0;
}
header{
    background-color: #323232;
    color: #D0D0D0;
    text-align: center;
    height: 300px;
    width: 100%;
}
#logo{
    align-items: center;
    font-size: 60px;
    padding-top: 90px;
    font-weight: bold;
}
#create-account{
    margin-top: 50px;
    font-size: 40px;
    color: #222222;
    text-align: center;
    text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
}
.user-registration{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}
.user-registration input{
    padding: 6px;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #D0D0D0;
    outline: none;
}
.fullname{
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 100px;
}
#firstname{
    width: 160px;
}
#lastname{
    width: 150px;
}
#createAccount-btn{
    max-width: 200px;
    border: 1px solid #5B5B5B;
    background-color: #5B5B5B;
    color: white;
    border-radius: 10px;
    margin-bottom: 0;
    padding: 6px;
}
.links{
    padding: 12px;
    text-align: center;
    font-size: 10px;
}
.links a{
    text-decoration: none;
    font-size: 10px;
    color: #222222;
}
#create{
    font-weight: bold;
}
#create:hover{
    text-decoration: underline;
}
#forgot:hover{
    text-decoration: underline;
}